body{
    margin-top:80px ;
}
button:hover{
    
    border-style: solid;
    border-width: 5px;
    border-color: #606060;
}

/* header */
header{
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1;
}
.header-top {
    height: 30px;
    background-color: black;
}
img{
    height: 100%;
    
}
/* jambotron */
.jambotron{
    background-image:url(../img/jumbo-bg.png) ;
    width: 100%;
    height: 650px;
    background-size: cover;
    background-position: top center;
    background-repeat: no-repeat;
}
.banner{
    height: 100%;
    height: 50px;
    margin-top: 250px;
    
}
/* card */
.card{
    width: 100%;
    cursor:pointer;
    
}

.card:active{
    border: 3px solid aqua;
    transition: all 1s;
}
/* presentazione ps5 */
.ps5{
    height: 400px;
}
/* estensioni */
.thumb{
    width: 100%;
    height: 115px;
    margin-top: 30px;
    
}
.caption{
    opacity: 0.8;
}
.caption:active{
    opacity: 100;
    border-bottom: 2px solid aqua;
}

/* bannerS */
.spot{
    background-image:url(../img/it-takes-two-hero-banner-desktop.jpg) ;
    width: 100%;
    height: 700px;
    background-size: cover;
    background-position: center;
}

.giochi{
    background-color: #1F1F1F;
}

.ps4{
   height: 140px; 
}
.bgc-BEBCBB{
    background-color:#BEBCBB ;
}

.logo{
    height: 65px;
}

.plus{
    height: 270px;
}

.spotlight{
    height:475px ;
}

.bgc-161C3B{
    background-color:#161C3B ;
}

.bg-00439C{
    background-color:#00439C;
}

.icon{
    height: 20px;
}